# Admin Login Credentials (Frontend React App)
ADMIN_USERNAME=skr@zasdevlabs.tech
ADMIN_PASSWORD=123

# Environment Configuration ('production' / 'development' / 'preview')
ENV=development

# Optional Backend & Firebase
BACKEND_URL=/admin
FIREBASE_API_KEY=AIzaSyB1TfXN9rYwCKHrDW9QS9qOVUZfdwusnXM
FIREBASE_AUTH_DOMAIN=zdl-portfolio.firebaseapp.com
FIREBASE_PROJECT_ID=zdl-portfolio
FIREBASE_STORAGE_BUCKET=zdl-portfolio.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=989483523903
FIREBASE_APP_ID=1:989483523903:web:fb00d30f8394a750e37d8a
FIREBASE_DATABASE_ID=ai-studio-myportfolio-d2202d2f-64cd-4fdd-8316-f6cec69c1d3c
FIREBASE_DATABASE_ID_LIVE=ai-studio-myportfolio-d2202d2f-64cd-4fdd-8316-f6cec69c1d3c
FIREBASE_DATABASE_ID_DEV=ai-studio-myportfolio-d2202d2f-64cd-4fdd-8316-f6cec69c1d3c

# Server Configuration (Nodemailer / SMTP)
GMAIL_USER=
GMAIL_APP_PASSWORD=
OWNER_EMAIL=skr@zasdevlabs.tech
