# Admin Login Credentials (Frontend React App)
REACT_APP_ADMIN_USERNAME=skr@zasdevlabs.tech
REACT_APP_ADMIN_PASSWORD=123

# Optional Backend & Firebase
REACT_APP_BACKEND_URL=/admin
REACT_APP_FIREBASE_API_KEY=AIzaSyB1TfXN9rYwCKHrDW9QS9qOVUZfdwusnXM
REACT_APP_FIREBASE_AUTH_DOMAIN=zdl-portfolio.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=zdl-portfolio
REACT_APP_FIREBASE_STORAGE_BUCKET=zdl-portfolio.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=989483523903
REACT_APP_FIREBASE_APP_ID=1:989483523903:web:fb00d30f8394a750e37d8a
REACT_APP_FIREBASE_DATABASE_ID=(default)

# Server Configuration (Nodemailer / SMTP)
GMAIL_USER=
GMAIL_APP_PASSWORD=
OWNER_EMAIL=skr@zasdevlabs.tech
